{{template "common/application.html" .}}

{{define "body"}}
<div class="container">
<h1>Modify Account</h1>

<form method="POST" action="/account/">
	<input type="hidden" name="uid" value="{{.Uid}}">
	<div class="form-grouop">
		<label>Name:</label>
		<input id="uname" class="form-control" value="{{.Account.Name}}" name="uname" readonly>
	</div>
	<div class="form-grouop">
		<label>Password:</label>
		<input id="pwd" type="password" class="form-control" placeholder="New Password" name="pwd">
	</div>
	<button type="submit" class="btn btn-default" onclick="return checkPwd()">Modify Account</button>
</form>

<script>
function checkPwd() {
	var uname = document.getElementById("uname");

	if (uname.value.length == 0) {
		alert("Please input your user name");
		return false;
	}

	var pwd = document.getElementById("pwd");

	return true;
}
</script>
</div>
{{end}}
