{{template "common/application.html" .}}

{{define "body"}}
<div class="container" >
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>used</th>
			<th>action</th>
		</tr>
	</thead>
	<tbody>
		{{if .IsAdmin}}
			{{range .Users}}
			<tr>
			<th>{{.Id}}</th>
			<th>{{.Name}}</th>
			<th>{{.Outbound}}MB</th>
			<th>
				<a href="/account/modify/{{.Id}}">Modify</a>|
				<a href="/account/delete/{{.Id}}">Delete</a>
			</th>
			</tr>
			{{end}}
		{{else}}
			{{if .User}}
			{{with .User}}
			<tr>
			<th>{{.Id}}</th>
			<th>{{.Name}}</th>
			<th>{{.Outbound}}MB</th>
			<th>
				<a href="/account/modify/{{.Id}}">Modify</a>
			</th>
			</tr>
			{{end}}
			{{end}}
		{{end}}
	</tbody>
</table>
<div>
{{end}}
