{{template "common/application.html" .}}

{{define "body"}}
<div class="container" >
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Expire</th>
			<th>UUID</th>
			<th>Level</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{if .IsAdmin}}
			{{range .Users}}
			<tr>
			<th>{{.Name}}</th>
			<th>{{date .Expire "Y-m-d"}}</th>
			<th>{{.UUID}}</th>
			<th>{{.Level}}</th>
			<th>
				<a href="/account/edit/{{.Id}}">Modify</a>|
				<a href="/account/resetbd/{{.Id}}">Reset</a>|
				<a href="/account/expandom/{{.Id}}">One Month</a>|
				<a href="/account/delete/{{.Id}}">Delete</a>
			</th>
			</tr>
			{{end}}
		{{else}}
			{{if .User}}
			{{with .User}}
			<tr>
			<th>{{.Name}}</th>
			<th>{{date .Expire "Y-m-d"}}</th>
			<th>{{.UUID}}</th>
			<th>
				<a href="/account/edit/{{.Id}}">Modify</a>
			</th>
			</tr>
			{{end}}
			{{end}}
		{{end}}
	</tbody>
</table>
<div>
{{end}}
