{{template "common/application.html" .}}

{{define "body"}}
<div class="container">
<h1>Modify Account</h1>

<form method="POST" action="/account/">
	<input type="hidden" name="uid" value="{{.Uid}}">
	<div class="form-grouop">
		<label>Name:</label>
		<input id="uname" class="form-control" value="{{.Account.Name}}" name="uname" readonly>
	</div>
	<div class="form-grouop">
		<label>Password:</label>
		<input id="pwd" type="password" class="form-control" placeholder="New Password" name="pwd">
	</div>
	<button type="submit" class="btn btn-default" onclick="return checkPwd()">Modify Password</button>
</form>

<form method="POST" action="/account/">
       <input type="hidden" name="uid" value="{{.Uid}}">
       <input type="hidden" name="uname" value="{{.Account.Name}}">
       <div class="form-grouop">
               <label>Phone Number</label>
               <input id="pn" class="form-control" value="{{.Account.Phone}}" name="pn">
       </div>
       <div class="form-grouop">
               <label>Encrypted Password:</label>
               <input id="eps" class="form-control" value="{{.Account.Passwd}}" name="eps">
       </div>
       <button type="submit" class="btn btn-default" onclick="return checkPS()">Modify BiHu ID Information</button>
</form>

<script>
function checkPwd() {
	var uname = document.getElementById("uname");

	if (uname.value.length == 0) {
		alert("Please input your user name");
		return false;
	}

	return true;
}

function checkID() {
       var pn = document.getElementById("pn");
       var eps = document.getElementById("eps");

       if (pn.value.length == 0) {
               alert("Phone Number is empty");
               return false;
       }

       if (eps.value.length == 0) {
               alert("Encrypted Password is empty");
               return false;
       }
       return
}

</script>
</div>
{{end}}
