{{template "common/application.html" .}}

{{define "body"}}
<div class="container">
        <p>Click on the link below to download the software:</p>
        <table style="width:100%">
          <tr>
            <th>OS</th>
            <th>Download</th>
          </tr>
          <tr>
            <td>Mac 10.13.2</td>
            <td><a href="https://pan.baidu.com/s/1lX4_Oz9h5SsVBqH4RDMZ8A" download>Download</a></td>
          </tr>
          <tr>
            <td>Windows 7/10</td>
            <td><a href="https://pan.baidu.com/s/1ARzlTU4_eG1E6BgRwHpoJg" download>Download</a></td>
          </tr>
        </table>
<div>
{{end}}
