{{template "common/application.html" .}}

{{define "body"}}
<div class="container">
	<h1 style="text-align:center;margin-bottom: 60px;margin-top: 40px">Help you find the gap between exchanges.</h1>
	<script src="https://fast.wistia.com/embed/medias/vdh70z9pnh.jsonp" async></script>
	<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
	<div class="wistia_responsive_padding" style="padding:60.63% 0 0 0;position:relative;">
	  <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_vdh70z9pnh videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
	</div>
	</div>
<div>
{{end}}
