{{template "common/application.html" .}}

{{define "body"}}
<div class="container">
<h1>Topic List</h1>
<a href="/topic/add" class="btn btn-default">Add Topic</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>last update</th>
			<th>view</th>
			<th>replies</th>
			<th>action</th>
		</tr>
	</thead>
	<tbody>
		{{range .Topics}}
		<tr>
		<th><a href="/topic/view/{{.Id}}">{{.Id}}</a></th>
		<th>{{.Title}}</th>
		<th>{{.Updated}}</th>
		<th>{{.Views}}</th>
		<th>{{.ReplyCount}}</th>
		<th>
			<a href="/topic/modify?tid={{.Id}}">Modify</a>
			<a href="/topic/delete/{{.Id}}">Delete</a>
		</th>
		</tr>
		{{end}}
	</tbody>
</table>

</div>
{{end}}
