<div class="navbar navbar-default">
    <div class="container">
            <a class="navbar-brand" href="/">Web</a>
	    <div>
	    <ul class="nav navbar-nav">
		    <li {{if .IsHome}}class="active"{{end}}><a href="/">First</a></li>
		    {{if .IsAdmin}}
		    <li {{if .IsCategory}}class="active"{{end}}><a href="/category">Category</a></li>
		    {{end}}
		    <li {{if .IsTopic}}class="active"{{end}}><a href="/topic">Post</a></li>
	    </ul>
	    </div>

	    <div class="pull-right">
            <ul class="nav navbar-nav">
                    {{if .IsLogin}}
                    <li><a href="/account">Account</a></li>
                    <li><a href="/login?exit=true">Logout</a></li>
                    {{else}}
                    <li><a href="/account?reg=true">Register</a></li>
                    <li><a href="/login?exit">Login</a></li>
                    {{end}}
            </ul>
	    </div>
    </div>
</div>

