<div class="navbar navbar-default">
    <div class="container">
            <a class="navbar-brand" href="/">BiHu Helper</a>
	    <div>
	    <ul class="nav navbar-nav">
		    <li ><a href="/tutorial">Tutorial</a></li>
	    </ul>
	    </div>

	    <div class="pull-right">
            <ul class="nav navbar-nav">
                    {{if .IsLogin}}
                    <li><a href="/account">Account</a></li>
                    <li><a href="/login?exit=true">Logout</a></li>
                    {{else}}
                    <li><a href="/account?reg=true">Register</a></li>
                    <li><a href="/login?">Login</a></li>
                    {{end}}
            </ul>
	    </div>
    </div>
</div>

